In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scripts.functions import load_process

In [3]:
df = load_process("../../data/raw/Chess-Game-Dataset.csv")

In [4]:
df

,created_at,last_move_at,turns,victory_status,winner,increment_code,white_rating,black_rating,moves,opening_eco,opening_name
1,1.504130e+12,1.504130e+12,16,resign,black,5+10,1322,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation
2,1.504130e+12,1.504130e+12,61,mate,white,5+10,1496,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation
3,1.504110e+12,1.504110e+12,61,mate,white,20+0,1439,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation
4,1.504030e+12,1.504030e+12,95,mate,white,30+3,1523,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense
5,1.504240e+12,1.504240e+12,5,draw,draw,10+0,1250,1002,e4 c5 Nf3 Qa5 a3,B27,Sicilian Defense: Mongoose Variation
...,...,...,...,...,...,...,...,...,...,...,...
20053,1.499791e+12,1.499791e+12,24,resign,white,10+10,1691,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense
20054,1.499698e+12,1.499699e+12,82,mate,black,10+0,1233,1196,d4 d6 Bf4 e5 Bg3 Nf6 e3 exd4 exd4 d5 c3 Bd6 Bd...,A41,Queen's Pawn
20055,1.499698e+12,1.499698e+12,35,mate,white,10+0,1219,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,D00,Queen's Pawn Game: Mason Attack
20056,1.499696e+12,1.499697e+12,109,resign,white,10+0,1360,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,B07,Pirc Defense
20057,1.499643e+12,1.499644e+12,78,mate,black,10+0,1235,1339,d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...,D00,Queen's Pawn Game: Mason Attack

In [7]:
df.columns

Index(['created_at', 'last_move_at', 'turns', 'victory_status', 'winner',
       'increment_code', 'white_rating', 'black_rating', 'moves',
       'opening_eco', 'opening_name'],
      dtype='object')

In [11]:
df.groupby('winner')

In [14]:
df.describe(exclude=np.object).T

,count,mean,std,min,25%,50%,75%,max
created_at,18378.0,1.483830e+12,2.829286e+10,1.376772e+12,1.477788e+12,1.496179e+12,1.503170e+12,1.504493e+12
last_move_at,18378.0,1.483830e+12,2.829277e+10,1.376772e+12,1.477788e+12,1.496180e+12,1.503170e+12,1.504494e+12
turns,18378.0,5.934373e+01,3.279124e+01,1.000000e+00,3.600000e+01,5.400000e+01,7.700000e+01,2.590000e+02
white_rating,18378.0,1.595169e+03,2.902818e+02,7.840000e+02,1.397000e+03,1.565000e+03,1.791000e+03,2.700000e+03
black_rating,18378.0,1.586920e+03,2.906106e+02,7.890000e+02,1.389000e+03,1.558000e+03,1.781000e+03,2.621000e+03

In [15]:
df.describe(exclude=np.number).T

                count unique                   top   freq
victory_status  18378      3                resign  11147
winner          18378      3                 white   9188
increment_code  18378    395                  10+0   6958
moves           18378  17363                 e4 e5     20
opening_eco     18378    360                   A00    928
opening_name    18378   1440  Van't Kruijs Opening    341

In [31]:
df_opening = df[df['opening_name']=="Van't Kruijs Opening"]
df_opening
df_opening.describe(include=np.object).T

               count unique                   top freq
victory_status   341      3                resign  171
winner           341      3                 black  205
increment_code   341     79                  10+0   89
moves            341    301                 e3 e5    8
opening_eco      341      1                   A00  341
opening_name     341      1  Van't Kruijs Opening  341

In [34]:
df.isna().sum()

created_at        0
last_move_at      0
turns             0
victory_status    0
winner            0
increment_code    0
white_rating      0
black_rating      0
moves             0
opening_eco       0
opening_name      0
dtype: int64